*.la
*.lo
*.moc.cpp
*.o

Makefile
autom4te.cache/
config.log
config.status

exe/.deps/
exe/.libs
exe/anssipki-genrsa
exe/test_barak_halevi
exe/test_prime
exe/test_prime_perfs
exe/test_rsa
exe/test_sha1
exe/test_sha2

lib/.deps/
lib/.libs
libanssipki-crypto.pc
libtool
